<mat-sidenav-container>
    <mat-sidenav position="end" #sidenav mode="side" opened="true" [fixedInViewport]="true" disableClose>
        <!-- Estamos pasando el pokemon seleccionado hasta lo más hacia la raiz el pokemon seleccionado, usando, nuevamente,
            un evento enlazado con @Output para comunicar entre hijo y madre el id del pokemon -->
        <app-pokemon-list [(pokemonData)]="fullPokemonList" (onPokemonSelected)="onPokemonSelect($event)"></app-pokemon-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <span>Pokedex</span>
    </mat-toolbar>
    <app-pokemon-detail [(pokemon)]="selectedPokemon"></app-pokemon-detail>
</mat-sidenav-container>