<mat-sidenav-container>
    <mat-toolbar color="primary">
        <span>Pokedex de {{ (authService.user | async)?.email }}</span>
    </mat-toolbar>
    <mat-toolbar color="primary">
        <input type="text" class="form-control" [(ngModel)]="email" placeholder="email">
        <input type="password" class="form-control" [(ngModel)]="password" placeholder="password">
        <button (click)="signup()" [disabled]="!email || !password">Signup</button>
        <button (click)="login()" [disabled]="!email || !password">Login</button>
        <button (click)="logout()">Logout</button>
    </mat-toolbar>
    <mat-toolbar color=primary>
        <a routerLink="/pokedex" routerLinkActive="active">Pokedex</a><span>   </span>
        <a routerLink="/pokemonMaster" routerLinkActive="active">Pokemon Master</a><span>   </span>
        <h2>{{url}}</h2>
    </mat-toolbar>

    <router-outlet>

    </router-outlet>

    <mat-sidenav *ngIf="(authService.user | async)" position="end" #sidenav mode="side" opened="true" [fixedInViewport]="true" disableClose>
        <!-- Estamos pasando el pokemon seleccionado hasta lo más hacia la raiz el pokemon seleccionado, usando, nuevamente,
            un evento enlazado con @Output para comunicar entre hijo y madre el id del pokemon -->
        <app-pokemon-list [(pokemonData)]="fullPokemonList" (onPokemonSelected)="onPokemonSelect($event)"></app-pokemon-list>
    </mat-sidenav>
    <app-pokemon-detail *ngIf="(authService.user | async)" [(pokemon)]="selectedPokemon.id"></app-pokemon-detail>
    <app-pokemon-master-form *ngIf="(authService.user | async)"></app-pokemon-master-form>
</mat-sidenav-container>